.card
{
    width: 18rem;
}

.card-img-top
{
    height: 300px;
}

.home
{
    width: 90%;
}
@media (max-width: 645px) {
    .card
    {
        width: 10rem;
    }

    .card-img-top
     {
        height: 150px;
     }

     .card-title
     {
        font-size: 1rem;
     }
}